<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Brand
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" [routerLink]="['brand/tata']" role="button" data-bs-toggle="dropdown">
                                Tata
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/nexon']">Nexon</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/punch']">Punch</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tiago']">Tiago</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/harrier']">Harrier</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/altroz']">Altroz</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tigor']">Tigor</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/safari']">Safari</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                        EV
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tiago-ev']">Tiago EV</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/nexon-ev-max']">Nexon EV Max</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/nexon-ev-prime']">Nexon EV Prime</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tigor-ev']">Tigor EV</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['brand/hynudai']">Hyundai</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/suzuki']">Maruti Suzuki</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/mahindra']">Mahindra</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/kia']">Kia</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/toyota']">Toyota</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>