<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
    <div class="container-fluid">
        <a class="navbar-brand p-3" [routerLink]="['/']" title="Find Your Wheel - Home">
            <img alt="Find Your Wheel Logo" src="../../assets/images/logo-trans.png" height="80px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Brand
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" [routerLink]="['brand/tata']" role="button" data-bs-toggle="dropdown">
                                Tata
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/nexon']">Nexon</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/punch']">Punch</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tiago']">Tiago</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/harrier']">Harrier</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/altroz']">Altroz</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tigor']">Tigor</a></li>
                                <li><a class="dropdown-item" [routerLink]="['brand/tata/car/safari']">Safari</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                        EV
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tiago-ev']">Tiago EV</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/nexon-ev-max']">Nexon EV Max</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/nexon-ev-prime']">Nexon EV Prime</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['brand/tata/car/tigor-ev']">Tigor EV</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['brand/hynudai']">Hyundai</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/suzuki']">Maruti Suzuki</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/mahindra']">Mahindra</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/kia']">Kia</a></li>
                        <li><a class="dropdown-item" [routerLink]="['brand/toyota']">Toyota</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav> -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>findYourWheel</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Top Brands</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="" class="dropdown-item">Tata</a>
                    <a href="" class="dropdown-item">Hyundai</a>
                    <a href="" class="dropdown-item">Maruti Suzuki</a>
                    <a href="" class="dropdown-item">Mahindra</a>
                    <a href="" class="dropdown-item">Kia</a>
                    <a href="" class="dropdown-item">Toyota</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Latest Cars</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="" class="dropdown-item">Nexon</a>
                    <a href="" class="dropdown-item">Creta</a>
                    <a href="" class="dropdown-item">Harrier</a>
                    <a href="" class="dropdown-item">Punch</a>
                </div>
            </div>
            <a href="" class="nav-item nav-link">Upcoming Cars</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Electric Cars</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="" class="dropdown-item">Nexon EV</a>
                    <a href="" class="dropdown-item">Tiago EV</a>
                    <a href="" class="dropdown-item">MG Hector EV</a>
                    <a href="" class="dropdown-item">Mahindra EV</a>
                </div>
            </div>
            <!-- <a href="index.html" class="nav-item nav-link">Ex.</a> -->
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Explore<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->