<div class="container">
    <div class="row p-5">
        <div class="col-lg-5">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">{{objCarDetails[0].model}}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-meeting-info">
                                <!-- <span class="widget-49-pro-title">{{objCarDetails[0].variant}}</span>
                                <span class="widget-49-specification">{{objCarDetails[0].price}}</span> -->
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i class="fa fa-tag pe-2"></i>Price Range</div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].price}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i class="fa fa-car pe-2"></i>Variant</div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].variant}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i class="fa fa-droplet pe-2"></i>Fuel Type</div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].fuelType}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i class="fa fa-bookmark pe-2"></i>Transmission
                                    </div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].transmission}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i class="fa fa-gauge pe-2"></i>Mileage</div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].mileage}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i
                                            class="fa-solid fa-screwdriver-wrench pe-2"></i>Engine Power</div>
                                    <div class="col col-sm-6 right-box">
                                        <span>{{objCarDetails[0].petrolEnginePower}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i class="fa fa-suitcase pe-2"></i>Boot Space
                                    </div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].bootSpace}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-sm-6 left-box"><i
                                            class="fa-solid fa-window-maximize pe-2"></i>Power Windows</div>
                                    <div class="col col-sm-6 right-box"><span>{{objCarDetails[0].powerWindows}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-7 left-box"><i class="fa fa-lock pe-2"></i>ABS (Anti-Lock
                                        Braking Systems)</div>
                                    <div class="col col-sm-5 right-box"><span>{{objCarDetails[0].abs}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 right-box p-2 mt-1">
                                        <span class="text-uppercase view-all p-2">View All Specifications</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Exterior Images</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                                <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active"
                                    *ngFor="let image of objCarDetails[0].interiorImages; index as i; first as isFirst"
                                    [ngClass]="{'active': isFirst}">
                                    <img [src]="image.url" class="d-block w-100" [alt]="image.alt">
                                </div>
                            </div>

                            <!-- Carousel controls -->
                            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Car Overview</h5>
                </div>
                <div class="card-body pt-0">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                        </li> -->

                        <!-- <li class="nav-item" role="presentation" 
                        *ngFor="let header of objCarDetails[0].overviewTabHeaders; index as i; first as isFirst">
                            <button class="nav-link active" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="true">{{header.tabHeader}}</button>
                        </li> -->

                        <li class="nav-item" role="presentation" *ngFor="let header of objCarDetails[0].overviewTabHeaders; index as i; first as isFirst">
                            <button class="nav-link" [ngClass]="{'active': isFirst}" [attr.id]="header.tabHeader + '-tab'" data-bs-toggle="tab" [attr.data-bs-target]="'#' + header.tabHeader"
                                type="button" role="tab" [attr.aria-controls]="header.tabHeader" aria-selected="true">{{header.tabHeader}}</button>
                        </li>
                        
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->

                        <!-- <div *ngFor="let header of objCarDetails[0].overviewTabHeaders; index as i;" class="tab-pane fade" 
                        id="contact" role="tabpanel" aria-labelledby="contact-tab'">{{header.tabDescription}}</div> -->

                        <div class="tab-pane fade show" *ngFor="let header of objCarDetails[0].overviewTabHeaders; index as i; first as isFirst"
                         [attr.id]="header.tabHeader" [ngClass]="{'active': isFirst}" role="tabpanel" [attr.aria-labelledby]="header.tabHeader + '-tab'">
                         {{header.tabDescription}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Car Variants</h5>
                </div>
                <div class="card-body pt-0">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>