<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2020-2021 iCoder, Inc. · <a [routerLink]="['policy']">Privacy</a> · <a [routerLink]="['terms']">Terms</a></p>
</footer> -->

<footer class="nb-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about">
          <img src="images/logo.png" class="img-responsive center-block" alt="">
          <p>Bootstrap Footer example snippets with CSS, Javascript and HTML. Code example of bootstrap-3 footer using
            HTML, Javascript, jQuery, and CSS. 5 Beautiful and Responsive Footer Templates. Pin a fixed-height footer to
            the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">Help Center</h2>
          <ul class="list-unstyled">
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a>
            </li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a>
            </li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Delivery
                Info</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">Customer information</h2>
          <ul class="list-unstyled">
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> About Us</a>
            </li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sell Your
                Items</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a>
            </li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">Security & privacy</h2>
          <ul class="list-unstyled">
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Terms Of
                Use</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Privacy
                Policy</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Return /
                Refund Policy</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Store
                Locations</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">Site Information</h2>
          <div class="site-info">
            <ul class="list-inline">
              <li><a href="#" title="">Total Cars: 1567</a></li>
              <li><a href="#" title="">Total Brands: 25</a></li>
              <li><a href="#" title="">Site Vitits: 232341</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright © 2022. Your Company.</p>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </section>
</footer>